In [1]:

import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv('depresion twitter modificado_dani.csv', index_col=0, dtype ={'Unnamed: 0': int, 'text': str, 'label': bool, 'user': str}, sep = ',')
data.head()

C:\Users\VictorJose\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                text  label   user
0  El domingo voy a ver a Doja cat y a the stroke...   True  user0
1                            Endeudarme es mi pasi√≥n   True  user0
2  Analizando de qu√© esta es mi √∫ltima semana de ...   True  user0
3  Cada d√≠a m√°s enamorada de Park Jimin‚ù£Ô∏è https:/...   True  user0
4  Fui muy feliz en el cine hoy üò≠‚ù£Ô∏è @BTS_twt #Per...   True  user0

In [15]:
data.tail()

                                                      text  label     user
1008226                Como t√∫ no hay nadie, esc√∫chame üôäüíïüé∂  False  user941
1008227            Perrito buapoüòçüôäüíï http://t.co/H89XEdJxoB  False  user941
1008228              Photoset: *-*. http://t.co/n86r2GUKKU  False  user941
1008229  "Hay muchas cosas que me gustar√≠an decirte per...  False  user941
1008230  Cuando me enojo de verdad no mido lo que digo ...  False  user941

In [16]:
data["label"].value_counts()

True     1774721
False    1008231
Name: label, dtype: int64

In [24]:
data_minus = data["text"].str.lower()
data_minus

0          el domingo voy a ver a doja cat y a the stroke...
1                                    endeudarme es mi pasi√≥n
2          analizando de qu√© esta es mi √∫ltima semana de ...
3          cada d√≠a m√°s enamorada de park jimin‚ù£Ô∏è https:/...
4          fui muy feliz en el cine hoy üò≠‚ù£Ô∏è @bts_twt #per...
                                 ...
1008226                  como t√∫ no hay nadie, esc√∫chame üôäüíïüé∂
1008227              perrito buapoüòçüôäüíï http://t.co/h89xedjxob
1008228                photoset: *-*. http://t.co/n86r2gukku
1008229    "hay muchas cosas que me gustar√≠an decirte per...
1008230    cuando me enojo de verdad no mido lo que digo ...
Name: text, Length: 2782952, dtype: object